In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import RandomizedSearchCV
import matplotlib.font_manager as fm

In [2]:

plt.rc('font', family='NanumBarunGothic')
font_location = 'C:/Windows/Fonts/MALGUNSL.TTF'  # for windows
font_name = fm.FontProperties(fname=font_location).get_name()
plt.rc('font', family=font_name)

In [3]:
company_info = pd.read_csv(r'C:\Users\yoon9\Documents\GitHub\numble_repo\data\company_info_with_days.csv',encoding='cp949')

In [4]:
company_info['기업명']

0                 한일가스산업
1                   엠피아이
2                   도영운수
3                   중원산업
4                  카타나골프
              ...
35716            게방식당팩토리
35717           우진푸드중부지점
35718    윤월드푸드코리아다크써클브로스
35719               기린테크
35720               우리로봇
Name: 기업명, Length: 35721, dtype: object

# Feature Engineering

In [5]:
df = company_info.drop(columns=['사업자등록번호','기업명','업종','설립일자','주요사업내용','산업코드1','공기업구분'])

In [6]:
df.columns

Index(['개인법인구분', '본점지점구분', '국외투자법인여부', '벤처기업여부', '상장코드', '공공기관유형', '중견기업보호여부',
       '본점기업코드', '설립구분', '국가명', '직원수', '폐업여부', '산업코드 대분류', '회사설립일'],
      dtype='object')

## StandardScaler + LabelEncoder

In [10]:
from sklearn.preprocessing import StandardScaler # 스케일링 라이브러리
from sklearn.preprocessing import LabelEncoder

In [11]:
company_info

,사업자등록번호,기업명,업종,공기업구분,개인법인구분,본점지점구분,국외투자법인여부,벤처기업여부,상장코드,산업코드1,...,중견기업보호여부,본점기업코드,설립일자,설립구분,주요사업내용,국가명,직원수,폐업여부,산업코드 대분류,회사설립일
0,1138111739,한일가스산업,M,2,1,1,0,0,0,47,...,0,0,1966-04-19 00:00:00,1,LP Gas 충전 및 판매업,0,43.0,0,도매 및 소매업,20650
1,2078132193,엠피아이,M,2,1,1,0,0,0,15,...,0,0,1991-08-06 00:00:00,1,가죽 및 대용가죽제품 제조업,0,35.0,0,제조업,11410
2,1318167565,도영운수,M,2,1,1,0,0,0,49,...,0,0,2001-10-30 00:00:00,1,시내버스업,0,149.0,0,운수 및 창고업,7672
3,5048128251,중원산업,M,2,1,1,0,0,0,30,...,0,0,1999-01-12 00:00:00,1,자동차 부품 제조,0,75.0,0,제조업,8694
4,1098164260,카타나골프,M,2,1,1,0,0,0,46,...,0,0,2000-05-31 00:00:00,1,골프용품 전반의 제조 및 수출업,0,3.0,0,도매 및 소매업,8189
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35716,4808501629,게방식당팩토리,M,2,1,2,0,0,0,10,...,0,1,2018-01-26 00:00:00,1,간장게장(장류),0,0.0,1,제조업,1740
35717,8018501578,우진푸드중부지점,M,2,1,2,0,0,0,10,...,0,1,2020-07-27 00:00:00,1,"돈가스, 탕수육, 꿔바로우",0,22.0,1,제조업,827
35718,4118523419,윤월드푸드코리아다크써클브로스,M,2,1,2,0,0,0,56,...,0,1,2019-09-26 00:00:00,1,"한식, 중식",0,0.0,1,숙박 및 음식점업,1132
35719,1738102533,기린테크,M,2,1,1,0,0,0,58,...,0,0,2021-10-25 00:00:00,1,1.인공지능(AI) 솔루션 구축 및 관련사업,0,0.0,1,정보통신업,372
35720,3138135248,우리로봇,M,2,1,1,0,1,0,29,...,0,0,2020-06-29 00:00:00,1,NaN,0,0.0,1,제조업,855

In [18]:
num_attribss = df[['직원수','회사설립일']]
y = company_info[['폐업여부']]

cat_all = df[['산업코드 대분류','상장코드','벤처기업여부','공공기관유형', '중견기업보호여부','국가명','국외투자법인여부','본점지점구분','본점기업코드','설립구분']]
# 변수별 타입 나누기

In [13]:
cat_all.dtypes

산업코드 대분류    object
상장코드         int64
벤처기업여부       int64
공공기관유형       int64
중견기업보호여부     int64
국가명          int64
국외투자법인여부     int64
본점지점구분       int64
본점기업코드       int64
설립구분         int64
dtype: object

## 스케일링

### StandardScaler

In [14]:
# 수치형 변수 스케일링
sta_scaler = StandardScaler()
sta_X_scale = sta_scaler.fit_transform(num_attribss)
sta_X_scale = pd.DataFrame(sta_X_scale, columns=num_attribss.columns)
sta_X_scale  # 스케일링 데이터 프레임화

            직원수     회사설립일
0     -0.071824  3.515949
1     -0.123865  1.242839
2      0.617721  0.323263
3      0.136341  0.574683
4     -0.332029  0.450449
...         ...       ...
35716 -0.351545 -1.136054
35717 -0.208432 -1.360659
35718 -0.351545 -1.285626
35719 -0.351545 -1.472592
35720 -0.351545 -1.353770

[35721 rows x 2 columns]

## Label Encoding

In [19]:
X_label = cat_all.copy()

In [20]:
lab_encoder = LabelEncoder()  #순서가 있는 카테고리형

In [22]:
for name in cat_all.columns:
    X_label[name] = lab_encoder.fit_transform(cat_all[name])

In [25]:
X_label.dtypes

산업코드 대분류    int32
상장코드        int64
벤처기업여부      int64
공공기관유형      int64
중견기업보호여부    int64
국가명         int64
국외투자법인여부    int64
본점지점구분      int64
본점기업코드      int64
설립구분        int64
dtype: object

In [26]:
df_preprdcessed = pd.concat([sta_X_scale, X_label], axis = 1)
df_preprdcessed
# Standard Scaler + label encoder

,직원수,회사설립일,산업코드 대분류,상장코드,벤처기업여부,공공기관유형,중견기업보호여부,국가명,국외투자법인여부,본점지점구분,본점기업코드,설립구분
0,-0.071824,3.515949,6,0,0,0,0,0,0,0,0,0
1,-0.123865,1.242839,17,0,0,0,0,0,0,0,0,0
2,0.617721,0.323263,13,0,0,0,0,0,0,0,0,0
3,0.136341,0.574683,17,0,0,0,0,0,0,0,0,0
4,-0.332029,0.450449,6,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
35716,-0.351545,-1.136054,17,0,0,0,0,0,0,1,1,0
35717,-0.208432,-1.360659,17,0,0,0,0,0,0,1,1,0
35718,-0.351545,-1.285626,11,0,0,0,0,0,0,1,1,0
35719,-0.351545,-1.472592,16,0,0,0,0,0,0,0,0,0
35720,-0.351545,-1.353770,17,0,1,0,0,0,0,0,0,0

# LightGBM

In [28]:
import lightgbm as lgb
from sklearn.model_selection import train_test_split

In [30]:
X_train, X_val, y_train, y_val = train_test_split(df_preprdcessed, y, test_size=0.2, shuffle=True, stratify=y, random_state=42)
X_train.shape, X_val.shape, y_train.shape, y_val.shape

((28576, 12), (7145, 12), (28576, 1), (7145, 1))

In [31]:
train_data = lgb.Dataset(X_train, label=y_train)
test_data = lgb.Dataset(X_val, label=y_val)

In [32]:
train_data

In [34]:
param = {'num_leaves': 31, 'objective': 'binary'}

param['metric'] = ['auc', 'binary_logloss']

In [35]:
num_round = 10

bst = lgb.train(param, train_data, num_round, valid_sets=[test_data])

[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Number of positive: 5391, number of negative: 23185
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000959 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 554
[LightGBM] [Info] Number of data points in the train set: 28576, number of used features: 12
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.188655 -> initscore=-1.458775
[LightGBM] [Info] Start training from score -1.458775
[1]	valid_0's auc: 0.813031	valid_0's binary_logloss: 0.45868
[2]	valid_0's auc: 0.825885	valid_0's binary_logloss: 0.440044
[3]	valid_0's auc: 0.830367	valid_0's binary_logloss: 0.425652
[4]	valid_0's auc: 0.832578	valid_0's binary_logloss: 0.413986
[5]	valid_0's auc: 0.833388	valid_0's binary_logloss: 0.404387
[6]	valid_0's auc: 0.835736	valid_0's binary_logloss: 0.396646
[7]	valid_0's auc: 0.83674	valid_0's binary_logloss: 0.39023
[8]	valid_0's auc: 0.838172	valid_0's binary_logloss: 0.384573
[9]	valid_0's auc: 0.839666	valid_0's binary_logloss: 0.379509
[10]	valid_0's auc: 0.840413	valid_0's binary_logloss: 0.375501

In [36]:
lgb.cv(param, train_data, num_round, nfold=5)

[LightGBM] [Info] Number of positive: 4312, number of negative: 18548
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000671 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 554
[LightGBM] [Info] Number of data points in the train set: 22860, number of used features: 12
[LightGBM] [Info] Number of positive: 4313, number of negative: 18548
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000634 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 554
[LightGBM] [Info] Number of data points in the train set: 22861, number of used features: 12
[LightGBM] [Info] Number of positive: 4313, number of negative: 18548
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001234 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 554
[LightGBM] [Info] Number of data points in the train set: 22861, number of used features: 12
[LightGBM] [Info] Number of positive: 4313, number of negative: 18548
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001128 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 554
[LightGBM] [Info] Number of data points in the train set: 22861, number of used features: 12
[LightGBM] [Info] Number of positive: 4313, number of negative: 18548
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000647 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 554
[LightGBM] [Info] Number of data points in the train set: 22861, number of used features: 12
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.188626 -> initscore=-1.458960
[LightGBM] [Info] Start training from score -1.458960
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.188662 -> initscore=-1.458728
[LightGBM] [Info] Start training from score -1.458728
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.188662 -> initscore=-1.458728
[LightGBM] [Info] Start training from score -1.458728
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.188662 -> initscore=-1.458728
[LightGBM] [Info] Start training from score -1.458728
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.188662 -> initscore=-1.458728
[LightGBM] [Info] Start training from score -1.458728

{'auc-mean': [0.8234489728071065,
  0.8285315021380761,
  0.8326851919854139,
  0.8351235068431407,
  0.8371086242317121,
  0.839066869090157,
  0.8403207652869227,
  0.8411199623038506,
  0.8420734020985978,
  0.8423902436221962],
 'auc-stdv': [0.00814738286372699,
  0.008290689641289706,
  0.007282572128099334,
  0.005857440137060031,
  0.007108487502057501,
  0.007677293869856035,
  0.00747823171935442,
  0.007490787480381792,
  0.007755445207715312,
  0.00775309581228763],
 'binary_logloss-mean': [0.4583207157176689,
  0.4396740753815518,
  0.42529384136747483,
  0.41367439366011804,
  0.4040758371882898,
  0.3962209096430025,
  0.38950905776468037,
  0.3838337785132298,
  0.3788158165124798,
  0.374742857666442],
 'binary_logloss-stdv': [0.0006077487839693386,
  0.0011185477895825327,
  0.0014779274711127013,
  0.0017909961625382656,
  0.0022368901075745856,
  0.0025100310868876674,
  0.0027380095355426163,
  0.0030122792584232664,
  0.0032544465003102653,
  0.003358628166436108]}