In [22]:
from bs4 import BeautifulSoup as bs
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd
import requests
import re
import time
import random
from selenium.common.exceptions import NoSuchElementException

In [23]:
df = pd.read_csv(r'C:\Users\yoon9\Documents\GitHub\numble_repo\data\company_info(전체).csv',encoding='cp949')
df

,사업자등록번호,기업명,공기업구분,개인법인구분,본점지점구분,국외투자법인여부,벤처기업여부,상장코드,산업코드1,공공기관유형,중견기업보호여부,본점기업코드,설립일자,설립구분,국가명,직원수,폐업여부,산업코드 대분류
0,1138111739,한일가스산업,2,1,1,0,0,0,47,0,0,0,1966-04-19,1,0,43.0,0,도매 및 소매업
1,2078132193,엠피아이,2,1,1,0,0,0,15,0,0,0,1991-08-06,1,0,35.0,0,제조업
2,1318167565,도영운수,2,1,1,0,0,0,49,0,0,0,2001-10-30,1,0,149.0,0,운수 및 창고업
3,5048128251,중원산업,2,1,1,0,0,0,30,0,0,0,1999-01-12,1,0,75.0,0,제조업
4,1098164260,카타나골프,2,1,1,0,0,0,46,0,0,0,2000-05-31,1,0,3.0,0,도매 및 소매업
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35716,4808501629,게방식당팩토리,2,1,2,0,0,0,10,0,0,1,2018-01-26,1,0,0.0,1,제조업
35717,8018501578,우진푸드중부지점,2,1,2,0,0,0,10,0,0,1,2020-07-27,1,0,22.0,1,제조업
35718,4118523419,윤월드푸드코리아다크써클브로스,2,1,2,0,0,0,56,0,0,1,2019-09-26,1,0,0.0,1,숙박 및 음식점업
35719,1738102533,기린테크,2,1,1,0,0,0,58,0,0,0,2021-10-25,1,0,0.0,1,정보통신업
35720,3138135248,우리로봇,2,1,1,0,1,0,29,0,0,0,2020-06-29,1,0,0.0,1,제조업

In [24]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
import chromedriver_autoinstaller
import subprocess
import shutil

try:
    shutil.rmtree(r"c:\chrometemp")  #쿠키 / 캐쉬파일 삭제
except FileNotFoundError:
    pass

subprocess.Popen(r'C:\Program Files\Google\Chrome\Application\chrome.exe --remote-debugging-port=9222 --user-data-dir="C:\chrometemp"') # 디버거 크롬 구동


option = Options()
option.add_experimental_option("debuggerAddress", "127.0.0.1:9222")

chrome_ver = chromedriver_autoinstaller.get_chrome_version().split('.')[0]
try:
    driver = webdriver.Chrome(f'./{chrome_ver}/chromedriver.exe', options=option)
except:
    chromedriver_autoinstaller.install(True)
    driver = webdriver.Chrome(f'./{chrome_ver}/chromedriver.exe', options=option)
driver.implicitly_wait(10)

In [25]:
#driver = webdriver.Chrome(r'C:\Users\yoon9\PycharmProjects\Sejong_Project\chromedriver.exe')
url = 'https://www.google.com/search?q={}&sxsrf=ALiCzsYLUeUj4Npiy4aINsN_aA1TcJ0Agw:1668943469183&source=lnms&tbm=nws&sa=X&ved=2ahUKEwiGzoX10rz7AhXIa94KHftJCfgQ_AUoAXoECAIQAw&cshid=1668943497259892&biw=1920&bih=937&dpr=1'

In [26]:
def news_crawling(keywords):
    global news_cnt
    try:
        driver.get(url.format(keywords))
        time.sleep(random.uniform(1, 2))
        search = driver.find_element_by_xpath('//*[@id="slim_appbar"]/div')
        texts = search.text

        if len(texts) > 0:
            news_cnt = int(re.sub(r'[^0-9]','',texts)) // 1000
        else :
            news_cnt = 0
    except NoSuchElementException as e:
    	print('no')

    return news_cnt

In [27]:
df_1 = df[:50]
df_2 = df[5000:10000]
df_3 = df[10000:15000]
df_4 = df[15000:20000]
df_5 = df[20000:25000]
df_6 = df[25000:30000]
df_7 = df[30000:]

In [28]:
df_6

,사업자등록번호,기업명,공기업구분,개인법인구분,본점지점구분,국외투자법인여부,벤처기업여부,상장코드,산업코드1,공공기관유형,중견기업보호여부,본점기업코드,설립일자,설립구분,국가명,직원수,폐업여부,산업코드 대분류
25000,6998800448,다다디에이티,2,1,1,0,0,0,68,0,0,0,2016-10-17,1,0,1.0,0,부동산업
25001,3728800368,서울개봉뉴스테이위탁관리부동산투자회사,2,1,1,0,0,0,68,0,0,0,2016-10-20,1,0,3.0,0,부동산업
25002,5708600518,엠렉,2,1,1,0,0,0,46,0,0,0,2016-10-20,1,0,20.0,0,도매 및 소매업
25003,6538600545,씨스타마리타임,2,1,1,0,0,0,52,0,0,0,2016-10-21,1,0,12.0,0,운수 및 창고업
25004,5478100487,홍장성,2,1,1,1,0,0,46,0,0,0,2016-10-19,1,1,2.0,0,도매 및 소매업
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,1298525857,현대통신,2,1,2,0,0,0,26,0,0,1,2002-04-01,1,0,93.0,1,제조업
29996,1318503929,성보공업(주)도화동공장,2,1,2,0,0,0,30,0,0,1,1975-10-01,1,0,91.0,1,제조업
29997,1338509462,세다시화공장,2,1,2,0,0,0,29,0,0,1,1996-08-01,1,0,0.0,1,제조업
29998,1348501459,일정실업(주)제일공장,2,1,2,0,0,0,13,0,0,1,1973-02-26,1,0,124.0,1,제조업
29999,1348621239,회계법인두레,2,1,1,0,0,0,71,0,0,0,2005-03-03,99,0,38.0,1,"전문, 과학 및 기술 서비스업"

In [ ]:
df_3['구글 검색량'] = df_3['기업명'].apply(lambda x : news_crawling(x))

Exception ignored in: <function Service.__del__ at 0x0000018A1832FD90>
Traceback (most recent call last):
  File "C:\Users\yoon9\anaconda3\envs\numble_repo\lib\site-packages\selenium\webdriver\common\service.py", line 176, in __del__
    self.stop()
  File "C:\Users\yoon9\anaconda3\envs\numble_repo\lib\site-packages\selenium\webdriver\common\service.py", line 151, in stop
    self.send_remote_shutdown_command()
  File "C:\Users\yoon9\anaconda3\envs\numble_repo\lib\site-packages\selenium\webdriver\common\service.py", line 127, in send_remote_shutdown_command
    url_request.urlopen("%s/shutdown" % self.service_url)
  File "C:\Users\yoon9\anaconda3\envs\numble_repo\lib\urllib\request.py", line 216, in urlopen
    return opener.open(url, data, timeout)
  File "C:\Users\yoon9\anaconda3\envs\numble_repo\lib\urllib\request.py", line 519, in open
    response = self._open(req, data)
  File "C:\Users\yoon9\anaconda3\envs\numble_repo\lib\urllib\request.py", line 536, in _open
    result = self._call_chain(self.handle_open, protocol, protocol +
  File "C:\Users\yoon9\anaconda3\envs\numble_repo\lib\urllib\request.py", line 496, in _call_chain
    result = func(*args)
  File "C:\Users\yoon9\anaconda3\envs\numble_repo\lib\urllib\request.py", line 1377, in http_open
    return self.do_open(http.client.HTTPConnection, req)
  File "C:\Users\yoon9\anaconda3\envs\numble_repo\lib\urllib\request.py", line 1348, in do_open
    h.request(req.get_method(), req.selector, req.data, headers,
  File "C:\Users\yoon9\anaconda3\envs\numble_repo\lib\http\client.py", line 1282, in request
    self._send_request(method, url, body, headers, encode_chunked)
  File "C:\Users\yoon9\anaconda3\envs\numble_repo\lib\http\client.py", line 1328, in _send_request
    self.endheaders(body, encode_chunked=encode_chunked)
  File "C:\Users\yoon9\anaconda3\envs\numble_repo\lib\http\client.py", line 1277, in endheaders
    self._send_output(message_body, encode_chunked=encode_chunked)
  File "C:\Users\yoon9\anaconda3\envs\numble_repo\lib\http\client.py", line 1037, in _send_output
    self.send(msg)
  File "C:\Users\yoon9\anaconda3\envs\numble_repo\lib\http\client.py", line 975, in send
    self.connect()
  File "C:\Users\yoon9\anaconda3\envs\numble_repo\lib\http\client.py", line 941, in connect
    self.sock = self._create_connection(
  File "C:\Users\yoon9\anaconda3\envs\numble_repo\lib\socket.py", line 833, in create_connection
    sock.connect(sa)
KeyboardInterrupt:

In [19]:
df_1

,사업자등록번호,기업명,공기업구분,개인법인구분,본점지점구분,국외투자법인여부,벤처기업여부,상장코드,산업코드1,공공기관유형,중견기업보호여부,본점기업코드,설립일자,설립구분,국가명,직원수,폐업여부,산업코드 대분류,구글 검색량
0,1138111739,한일가스산업,2,1,1,0,0,0,47,0,0,0,1966-04-19,1,0,43.0,0,도매 및 소매업,68400
1,2078132193,엠피아이,2,1,1,0,0,0,15,0,0,0,1991-08-06,1,0,35.0,0,제조업,2970000
2,1318167565,도영운수,2,1,1,0,0,0,49,0,0,0,2001-10-30,1,0,149.0,0,운수 및 창고업,492
3,5048128251,중원산업,2,1,1,0,0,0,30,0,0,0,1999-01-12,1,0,75.0,0,제조업,85100
4,1098164260,카타나골프,2,1,1,0,0,0,46,0,0,0,2000-05-31,1,0,3.0,0,도매 및 소매업,311
5,2148612093,센트로,2,1,1,0,0,0,55,0,0,0,1988-08-10,1,0,2.0,0,숙박 및 음식점업,19100
6,2068148256,엄앤드이종합건축사사무소,2,1,1,0,0,0,72,0,0,0,1994-01-20,1,0,200.0,0,"전문, 과학 및 기술 서비스업",85
7,1078156099,세풍폴리머,2,1,1,0,0,0,46,0,0,0,1996-07-01,1,0,36.0,0,도매 및 소매업,59
8,6218111642,제일산업,2,1,1,0,0,0,13,0,0,0,1993-10-21,1,0,17.0,0,제조업,2160000
9,5148140835,한국대풍,2,1,1,1,0,0,30,0,0,0,2001-06-21,1,2,94.0,0,제조업,8040
10,1218138743,만복철강,2,1,1,0,0,0,46,0,0,0,2000-07-28,1,0,18.0,0,도매 및 소매업,299
11,1058168570,유피에스에스씨에스코리아,2,1,1,1,0,0,52,0,0,0,1990-09-11,1,1,83.0,0,운수 및 창고업,9040
12,6018127311,제이에스엠인터내셔날,2,1,1,0,0,0,75,0,0,0,1995-08-20,1,0,24.0,0,"사업시설 관리, 사업 지원 및 임대 서비스업",885
13,1248174864,코팅코리아,2,1,1,0,0,0,25,0,0,0,2000-07-13,1,0,57.0,0,제조업,48500
14,6088102330,대중교통,2,1,1,0,0,0,49,0,0,0,1980-03-11,1,0,159.0,0,운수 및 창고업,2100000
15,2108101852,대갑산업,2,1,1,0,0,0,68,0,0,0,1963-07-20,1,0,12.0,0,부동산업,401
16,1138131623,티센크루프머티리얼코리아,2,1,1,1,0,0,25,0,0,0,1991-10-25,1,2,34.0,0,제조업,11600
17,1268108962,동양이화,2,1,1,0,0,0,22,0,0,0,1990-12-01,1,0,54.0,0,제조업,9340
18,2188110812,아방,2,1,1,0,0,0,14,0,0,0,1991-10-24,1,0,51.0,0,제조업,3060
19,6098119101,아메코,2,1,1,0,0,0,29,0,0,0,1980-10-01,1,0,23.0,0,제조업,2090
20,1068169683,아성테크노,2,1,1,0,0,0,46,0,0,0,1997-10-01,1,0,51.0,0,도매 및 소매업,1450
21,6168100459,세기건설,2,1,1,0,0,0,41,0,0,0,1969-02-20,1,0,32.0,0,건설업,332000
22,1348183899,아이.씨.씨.,2,1,1,0,0,0,17,0,0,0,2002-05-09,1,0,43.0,0,제조업,6650000
23,6088126220,산호목재상사,2,1,1,0,0,0,16,0,0,0,1996-08-29,1,0,17.0,0,제조업,66
24,3078107276,에이앤씨엠,2,1,1,0,0,0,10,0,0,0,1995-04-20,1,0,34.0,0,제조업,4220000
25,2018132031,고려통상,2,1,1,0,0,0,68,0,0,0,1969-09-11,1,0,68.0,0,부동산업,150000
26,1348103880,바이켐,2,1,1,0,1,0,20,0,0,0,1986-09-01,1,0,56.0,0,제조업,5630
27,6178134781,다은비,2,1,1,0,0,0,68,0,0,0,2001-08-01,1,0,4.0,0,부동산업,122000
28,2148737602,엘브스,2,1,1,0,0,0,27,0,0,0,2003-07-01,1,0,4.0,0,제조업,2190
29,2128125054,서경산업개발,2,1,1,0,0,0,68,0,0,0,1993-04-30,1,0,4.0,0,부동산업,125000
30,1098129813,전방텍스타일,2,1,1,1,0,0,14,0,0,0,1971-12-24,1,2,18.0,0,제조업,151
31,6168110879,청룡수산,2,1,1,0,0,0,10,0,0,0,1993-05-31,1,0,30.0,0,제조업,1980
32,1218144395,기경산업,2,1,1,0,0,0,46,0,0,0,2001-04-28,1,0,18.0,0,도매 및 소매업,352
33,6208110636,스마트전자,2,1,1,0,0,0,26,0,0,0,1995-04-19,1,0,101.0,0,제조업,7190000
34,1178102514,신길운수,2,1,1,0,0,0,49,0,0,0,1970-08-11,1,0,344.0,0,운수 및 창고업,1470
35,6058109450,보광,2,1,1,0,0,0,20,0,0,0,1974-04-27,1,0,161.0,0,제조업,20300
36,4128117284,대양산업개발,2,1,1,0,0,0,68,0,0,0,1999-08-24,1,0,10.0,0,부동산업,61400
37,1268146326,서경에너지,2,1,1,0,0,0,46,0,0,0,1999-07-08,1,0,22.0,0,도매 및 소매업,127000
38,1308168260,태정기공,2,1,1,0,1,0,25,0,0,0,1997-01-01,1,0,44.0,0,제조업,297
39,2208131391,호진산업기연,2,1,1,0,0,0,27,0,0,0,1987-01-01,1,0,105.0,0,제조업,9
40,1318160276,재영아이텍,2,1,1,0,0,0,22,0,0,0,2020-02-24,1,0,22.0,0,제조업,435
41,4098167906,현대로오텍,2,1,1,0,1,0,28,0,0,0,2002-04-11,1,0,36.0,0,제조업,1800
42,1298107322,파마킹,2,1,1,0,0,0,21,0,0,0,1988-02-01,1,0,64.0,0,제조업,1450
43,1248122065,윤지양행,2,1,1,0,0,0,20,0,0,0,1993-12-01,1,0,48.0,0,제조업,198
44,5028163816,동우당제약,2,1,1,0,1,0,21,0,0,0,2002-03-06,1,0,41.0,0,제조업,336
45,1348120822,선영,2,1,1,0,0,0,22,0,0,0,1985-06-25,1,0,158.0,0,제조업,48600
46,1378115269,태정산업,2,1,1,0,0,0,22,0,0,0,1996-06-20,1,0,49.0,0,제조업,12000
47,1108118320,동원아이엔씨,2,1,1,1,0,0,55,0,1,0,1985-02-04,4,2,158.0,0,숙박 및 음식점업,8820
48,1018157125,단암엔지니어링,2,1,1,0,0,0,75,0,0,0,2000-06-01,1,0,12.0,0,"사업시설 관리, 사업 지원 및 임대 서비스업",8820
49,1198118308,마하니트,2,1,1,0,0,0,14,0,0,0,1995-05-15,1,0,46.0,0,제조업,8820

In [ ]:
#df.to_csv(r'C:\Users\yoon9\Documents\GitHub\numble_repo\data\넘블 챌린지 데이터 (1)\company_info_news.csv',index=False,encoding='cp949')

In [16]:
df[df['기업명'] == '아이디헬스케어그룹']

,사업자등록번호,기업명,공기업구분,개인법인구분,본점지점구분,국외투자법인여부,벤처기업여부,상장코드,산업코드1,공공기관유형,중견기업보호여부,본점기업코드,설립일자,설립구분,국가명,직원수,폐업여부,산업코드 대분류
116,1048150626,아이디헬스케어그룹,2,1,1,1,0,0,71,0,0,0,2000-02-23,1,1,35.0,0,"전문, 과학 및 기술 서비스업"