In [138]:
from bs4 import BeautifulSoup as bs
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd
import requests
import re
import time
import random
from selenium.common.exceptions import NoSuchElementException

In [120]:
df = pd.read_csv(r'C:\Users\yoon9\Documents\GitHub\numble_repo\data\company_info(전체).csv',encoding='cp949')
df

,사업자등록번호,기업명,공기업구분,개인법인구분,본점지점구분,국외투자법인여부,벤처기업여부,상장코드,산업코드1,공공기관유형,중견기업보호여부,본점기업코드,설립일자,설립구분,국가명,직원수,폐업여부,산업코드 대분류
0,1138111739,한일가스산업,2,1,1,0,0,0,47,0,0,0,1966-04-19,1,0,43.0,0,도매 및 소매업
1,2078132193,엠피아이,2,1,1,0,0,0,15,0,0,0,1991-08-06,1,0,35.0,0,제조업
2,1318167565,도영운수,2,1,1,0,0,0,49,0,0,0,2001-10-30,1,0,149.0,0,운수 및 창고업
3,5048128251,중원산업,2,1,1,0,0,0,30,0,0,0,1999-01-12,1,0,75.0,0,제조업
4,1098164260,카타나골프,2,1,1,0,0,0,46,0,0,0,2000-05-31,1,0,3.0,0,도매 및 소매업
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35716,4808501629,게방식당팩토리,2,1,2,0,0,0,10,0,0,1,2018-01-26,1,0,0.0,1,제조업
35717,8018501578,우진푸드중부지점,2,1,2,0,0,0,10,0,0,1,2020-07-27,1,0,22.0,1,제조업
35718,4118523419,윤월드푸드코리아다크써클브로스,2,1,2,0,0,0,56,0,0,1,2019-09-26,1,0,0.0,1,숙박 및 음식점업
35719,1738102533,기린테크,2,1,1,0,0,0,58,0,0,0,2021-10-25,1,0,0.0,1,정보통신업
35720,3138135248,우리로봇,2,1,1,0,1,0,29,0,0,0,2020-06-29,1,0,0.0,1,제조업

In [121]:
driver = webdriver.Chrome(r'C:\Users\yoon9\PycharmProjects\Sejong_Project\chromedriver.exe')
url = 'https://www.google.com/search?q={}&sxsrf=ALiCzsYLUeUj4Npiy4aINsN_aA1TcJ0Agw:1668943469183&source=lnms&tbm=nws&sa=X&ved=2ahUKEwiGzoX10rz7AhXIa94KHftJCfgQ_AUoAXoECAIQAw&cshid=1668943497259892&biw=1920&bih=937&dpr=1'

In [145]:
def news_crawling(keywords):
    global news_cnt
    try:
        driver.get(url.format(keywords))
        time.sleep(random.randrange(1, 5))
        search = driver.find_element_by_xpath('//*[@id="slim_appbar"]/div')
        texts = search.text

        if len(texts) > 0:
            news_cnt = int(re.sub(r'[^0-9]','',texts)) // 1000
        else :
            news_cnt = 0
    except NoSuchElementException as e:
    	print('no')

    return news_cnt

In [147]:
df['구글 검색량'] = df['기업명'].apply(lambda x : news_crawling(x))

KeyboardInterrupt:

In [ ]:
df.to_csv(r'C:\Users\yoon9\Documents\GitHub\numble_repo\data\넘블 챌린지 데이터 (1)\company_info_news.csv',index=False,encoding='cp949')

In [148]:
df

,사업자등록번호,기업명,공기업구분,개인법인구분,본점지점구분,국외투자법인여부,벤처기업여부,상장코드,산업코드1,공공기관유형,중견기업보호여부,본점기업코드,설립일자,설립구분,국가명,직원수,폐업여부,산업코드 대분류
0,1138111739,한일가스산업,2,1,1,0,0,0,47,0,0,0,1966-04-19,1,0,43.0,0,도매 및 소매업
1,2078132193,엠피아이,2,1,1,0,0,0,15,0,0,0,1991-08-06,1,0,35.0,0,제조업
2,1318167565,도영운수,2,1,1,0,0,0,49,0,0,0,2001-10-30,1,0,149.0,0,운수 및 창고업
3,5048128251,중원산업,2,1,1,0,0,0,30,0,0,0,1999-01-12,1,0,75.0,0,제조업
4,1098164260,카타나골프,2,1,1,0,0,0,46,0,0,0,2000-05-31,1,0,3.0,0,도매 및 소매업
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35716,4808501629,게방식당팩토리,2,1,2,0,0,0,10,0,0,1,2018-01-26,1,0,0.0,1,제조업
35717,8018501578,우진푸드중부지점,2,1,2,0,0,0,10,0,0,1,2020-07-27,1,0,22.0,1,제조업
35718,4118523419,윤월드푸드코리아다크써클브로스,2,1,2,0,0,0,56,0,0,1,2019-09-26,1,0,0.0,1,숙박 및 음식점업
35719,1738102533,기린테크,2,1,1,0,0,0,58,0,0,0,2021-10-25,1,0,0.0,1,정보통신업
35720,3138135248,우리로봇,2,1,1,0,1,0,29,0,0,0,2020-06-29,1,0,0.0,1,제조업